/* RESET CSS */

/*  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */

body {
  background-color: antiquewhite;
  font-size: 62.5%;
}
#parent-wrapper {
  /* width: 90%; */
  /* height: 40rem; */
  background-color: antiquewhite;
  margin: 2rem auto;
  display: flex;
}

.section-box {
  border-radius: 10px;
}

#box2 {
  width: 40rem;
  margin: 0 auto;
  height: 40rem;
  background-color: #62b6cb;
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  align-items: center;
}

/* SEARCH BAR */

.search-bar {
  width: 100%;
  height: 3rem;
  color: black;
  display: flex;
}

#search-font {
  width: 100%;
  background-color: white;
  height: 3rem;
}

.search-bar {
  display: flex;
  padding: 5px;
  margin-top: 2.5rem;
  border-radius: 5px;
  width: 300px;
}

.search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px 0 0 5px;
}

.search-font {
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.43);
  border-radius: 0 5px 5px 0;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0 0 0 2px black; */
}

#img-holder {
  width: 6.3rem;
  height: 6.3rem;
  /* border: 10px black solid; */
}

/* STYLE */

.city-display {
  border: 5px solid red;
  width: 7rem;
}

#city-name {
  font-size: 2.5rem;
  font-weight: 700;
}

#weather-description {
  font-size: 1rem;
  text-align: center;
}

.temp-display {
  border: 5px solid blue;
  width: 7rem;
}

.humid-wind {
  border: 5px solid green;
  width: 7rem;
}

#current-temp {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

#currentTemp {
  display: flex;
  justify-content: space-between;
}
#currentTemp h2 {
  font-size: 0.9rem;
  font-weight: bold;
}

#humidity h2 {
  text-align: center;
  font-size: 1rem;
}
